<div class="container">
  <header>
    <img src="https://githubanotaai.github.io/frontend-interview-mock-data/assets/favicon.png" alt="">
    <div>
      <h1>Teste Desenvolvedor Front-End - Anota AI</h1>

      <h2>      
        <div class="line-before"></div>
          <i>Tiago Borges da Silva</i>
        <div class="line-after"></div>
      </h2>
    </div>
  </header>
  <main>
    <form>
        <input type="text" (input)="searchCard($event)" (focus)="addStyleInSearchButton()" (blur)="removeStyleInSearchButton()">
        <button id="btn-search">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyi_CVTmoL1ITHFxQkfLwvj93hcsgA1Olkhg&s" alt="Buscar">
        </button>
    </form>
    <ul class="card-list">
      <li *ngFor="let card of allCardList">
          <img [src]="card.img" alt="Foto da imagem"/>
          <small  [ngClass]="{'paisagem': card.type === '1', 'flor': card.type === '2', 'pizza': card.type === '3'}">
            {{ card.type === "1" && "Paisagem" || card.type === "2" && "Flor" || card.type === "3" && "Pizza" }}
          </small>
          <div>
            <h1>{{ card.title }}</h1>
            <p>{{ card.description}}</p>
          </div>
          <button (click)="removeCard(card.id)">
            <img src="https://githubanotaai.github.io/frontend-interview-mock-data/assets/close.svg" alt="Fechar">
          </button>
      </li>
    </ul>
  </main>
</div>